div.my-chart {
    position: relative;
    border: 1px solid black;
    padding: 2px;
}

div.my-chart > div.title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 5px 0 0 5px;
    text-align: left;
}

div.ohlc-holder > div.ohlc-value {
    margin-right: 3px;
    margin-left: 3px;
}