div.my-chart {
    width: 90%;
    position: relative;
    border: 1px solid black;
    padding: 2px;
    margin: 0 5%;
}

div.my-chart > div.tv-chart {
    position: relative;
    width: 100%;
}

div.my-chart > div.title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 5px 0 0 5px;
    text-align: left;
}

div.my-chart.dark > div.title {
    color: white;
}

div.ohlc-holder > div.ohlc-value {
    margin-right: 3px;
    margin-left: 3px;
}