.dropdown-menu-control {
  position: relative;
  display: flex;
  user-select: none;
}

.dropdown-menu-control .dropdown-menu-title {
  position: relative;
  display: flex;
  padding: 5px;/* const id 2 */
  padding-right: 25px;/* const id 1 */
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 5px;/* const id 3 */
  cursor: pointer;
}

.dropdown-menu-control.dark .dropdown-menu-title {
  border-color: white;
  background-color: black;
  color: white;
}

.dropdown-menu-control .dropdown-menu-title:hover {
  background-color: #f1f1f1;
}

.dropdown-menu-control.dark .dropdown-menu-title:hover {
  background-color: #474747ee;
}

.dropdown-menu-control .dropdown-menu-title::after {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 5px; /* const id 2 */
  top: 50%;
  content: '';
  transform-origin: center;
  transform: translateY(-50%);
  background-image: url('../icons/settings-light.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.dropdown-menu-control.dark .dropdown-menu-title::after {
  background-image: url('../icons/settings-dark.svg');
}

.dropdown-menu-control.dropdown-on .dropdown-menu-title::after {
  transform: translateY(-50%) rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.dropdown-menu-control .dropdown-menu-holder {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  padding-top: 5px;
  z-index: 100;
}

.dropdown-menu-control .dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px; /* const id 3 */
  box-sizing: border-box;
  align-items: flex-start;
}

.dropdown-menu-control.dark .dropdown-menu {
  border-color: white;
  background-color: black;
  color: white;
}

.dropdown-menu-control .dropdown-menu .dropdown-menu-item {
  position: relative;
  padding: 5px; /* const id 2 */
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px; /* const id 3 */
  cursor: default;
}

.dropdown-menu-control .dropdown-menu .dropdown-menu-item:hover {
  background-color: #f1f1f1;
}

.dropdown-menu-control.dark .dropdown-menu .dropdown-menu-item:hover {
  background-color: #474747ee;
}