.select-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.select-container .select {
  position: relative;
  display: flex;
  padding-right: 15px;
}

.select-container .select:hover {
  background-color: #f1f1f1;
}

.select-container .select .value {
  position: relative;
}

.select-container .select::after {
  position: absolute;
  width: 7px;
  height: 7px;
  transform: translateY(-65%) rotate(135deg);
  content: "";
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  right: 0;
  top: 50%;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

.select-container.selecting .select::after {
  transform: translateY(-25%) rotate(315deg);;
}

.select-container .dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.select-container .dropdown-menu .dropdown-menu-item {
  position: relative;
}

.select-container .dropdown-menu .dropdown-menu-item.selected {
  font-weight: bold;
}

.select-container .dropdown-menu .dropdown-menu-item:hover {
  background-color: #f1f1f1;
}