.select-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.select-container .select {
  position: relative;
  display: flex;
  padding: 5px;/* const id 2 */
  padding-right: 25px;/* const id 1 */
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 5px;/* const id 3 */
  cursor: pointer;
}

.select-container.dark .select {
  border-color: white;
  background-color: black;
  color: white;
}

.select-container .select:hover {
  background-color: #f1f1f1;
}

.select-container.dark .select:hover {
  background-color: #474747ee;
}

.select-container .select .dummy {
  position: relative;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.select-container .select .value {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 5px;/* const id 2 */
  padding-right: 25px; /* const id 1 */
  box-sizing: border-box;
}

.select-container .select::after {
  position: absolute;
  width: 7px; /* const id 4 */
  height: 7px; /* const id 4 */
  transform: translateX(-100%) translateY(-65%) rotate(135deg);
  content: "";
  border-top: 1px solid black;
  border-right: 1px solid black;
  right: 0;
  top: 50%;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

.select-container.dark .select::after {
  border-color: white;
}

.select-container.select-on .select::after {
  transform: translateX(-100%) translateY(-25%) rotate(315deg);;
}

.select-container .select-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 110%;
  width: 100%;
  z-index: 100;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px; /* const id 3 */
  box-sizing: border-box;
  align-items: flex-start;
}

.select-container.dark .select-menu {
  border-color: white;
  background-color: black;
  color: white;
}

.select-container .select-menu .select-menu-item {
  position: relative;
  padding: 5px; /* const id 2 */
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px; /* const id 3 */
  cursor: pointer;
}

.select-container .select-menu .select-menu-item.selected {
  font-weight: bold;
}

.select-container .select-menu .select-menu-item:hover {
  background-color: #f1f1f1;
}

.select-container.dark .select-menu .select-menu-item:hover {
  background-color: #474747ee;
}