.flex {
  display: flex;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-sa {
  justify-content: space-around;
}

.margin-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}